/* Fonts */
@font-face {
    font-family: myfont;
    src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}
/* reset generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body style */
body {
    font-family: myfont;
    color: #2E2E2E;
    text-align: center;
}


h1{
    font-size: 2rem;
    padding: 40px 0;
}

ul {
    list-style: none;
}

/* main style */



span, h4{
    color: #ff5333;
}

p{
  color: #959595
}

aside #social i{
    color: #B0B0B0;
}

aside p{
    color: #474747;
}

#menu ul li {
    padding: 21px 0;
}
#menu ul li p{
    padding-top: 12px;
}
#menu ul li span{
    color: #938463;
}



#news h1, #blog h1 {
    color: #fff; 
}

/* footer style */

footer p{
    color: #454545;
}

/* <!-- Sebastiano e Gerardo --> */
/* header e home */
header{
    width:100%;
    height:500px;
    position:absolute;
    top:1px;
    left:1px;
    background-image: url(../images/header.jpg);
    background-position: center;
    background-size: cover;
    height:500px;
    top:0px;
    left:0px;
        
}


#barraMenu{
    margin: 420px auto;
    position:sticky;
    top:0;
    
    
    width:70%;
    background-color: #ffff;
    height:80px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    padding:20px;
    
    z-index:11;
}

#tendina{
    display:none;
}
#barraMenu>div{
    width:90%;
    text-align:left;
    
}
nav{
    width:100%;
    height:0px;
    background-color: #ffff;
    overflow:hidden;
    transition:height 0.8s ease;
    
}
nav ul li{
    text-align:left;
    margin-top:30px;
    border:0;
    width:10%;
    transition:width 0.6s ease;
    
}
nav a{
    text-decoration: none;
    color:#2E2E2E;
    
}
nav ul li:hover{
    width:100%;
    border-bottom:3px solid#ff5333;
}       
main{
    position:absolute;
    top:501px;
}
/*#home{
    margin-top:30px;
}*/
#tendina:checked~nav{
    height:300px;
}




/* <!-- Serena e giuseppe --> */
/* sezione blog e about us */






/* <!-- Valeria e Angelo--> */
/* menu e newsletter */