/* Fonts */
@font-face {
    font-family: myfont;
    src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}
/* reset generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body style */
body {
    font-family: myfont;
    color: #2E2E2E;
    text-align: center;
}


h1{
    font-size: 2rem;
    padding: 40px 0;
    font-weight: normal;
}


ul {
    list-style: none;
}

/* main style */



span, h4{
    color: #ff5333;
}

p{
  color: #959595
}

aside #social i{
    color: #B0B0B0;
}

aside p{
    color: #474747;
}

#menu ul li {
    padding: 21px 0;
}
#menu ul li p{
    padding-top: 12px;
}
#menu ul li span{
    color: #938463;
}



#news h1, #blog h1 {
    color: #fff; 
}

/* footer style */

footer p{
    color: #454545;
}

/* <!-- Sebastiano e Gerardo --> */
/* header e home */

/* immagine di copertina */
#copertina{
    background-image: url(../images/header.jpg);
    height: 300px;
    margin-bottom: -60px;
    background-size: cover;
    position: relative;
    z-index: -2;
}
/* da ripetere per tutti gli sfondi */
#copertina::before{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    background: url(../images/overlay-pattern.png) black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: -1;
}


 /* barra header con nav */
header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    padding: 20px 20px;
    background-color:rgba(255,255,255, 0.95);
    margin:auto;
    font-weight: bold;
}

nav{
    width: 100%;
    height: 0;
    background-color:rgba(255,255,255, 0.6);
    overflow: hidden;
    transition: height 0.8s ease;
    position: absolute;
    top: 60px;
    left: 0;

}

nav ul li{
    text-align: left;
    border: 0;
    width: 20%;
    transition: width 1s ease;
    padding: 10px 8px ;
}

nav a{
    text-decoration: none;
    color: #474747;
    text-transform: uppercase;
}

nav ul li:hover{
    width: 100%;
    border-bottom: 2px solid red;
}

#tendina:checked~nav{
    height: 300px;
}
/* tolgo checkbox */
#tendina {
    display: none;
}
.logo img{
    width: 150px;
}




/* media header */

@media screen and (min-width: 768px) {
    header{
        width:700px;
        flex-wrap: nowrap;
    }
    header label{
        display: none;
    }
    nav{
        height: auto;
        overflow: none;
        width:70%;
        position: static;
        background-color: rgba(255,255,255, 0);
        padding-left: 15px;
        text-align: center;
        
    }

     nav ul{
        display: flex;
        justify-content: center;
     }

     nav ul li{
        font-size: 0.8rem;
        width: auto;
     }
     nav ul li:hover{
       border: 0;
       width: auto;
       border-bottom: 2px solid red;
    
     }

     nav ul li:first-child{
        border-bottom: 2px solid red;
     }
}

@media screen and (min-width: 992px){
    header{
        width:95%;
    }
    header nav{
        margin-left: 40px;
    }
    nav ul{
        justify-content: end;
    }
}


@media screen and (min-width: 1200px){
    header{
        width:1140px;
    }
}



/* <!-- Serena e giuseppe --> */
/* sezione blog e about us */






/* <!-- Valeria e Angelo--> */
/* menu e newsletter */