/* Fonts */
@font-face {
    font-family: myfont;
    src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}
/* reset generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body style */
body {
    font-family: myfont;
    color: #2E2E2E;
    text-align: center;
}


h1{
    font-size: 2rem;
    padding: 40px 0;
    font-weight: normal;
}


ul {
    list-style: none;
}

/* main style */



span, h4{
    color: #ff5333;
}

p{
  color: #959595
}

aside #social i{
    color: #B0B0B0;
}

aside p{
    color: #474747;
}

#menu ul li {
    padding: 21px 0;
}
#menu ul li p{
    padding-top: 12px;
}
#menu ul li span{
    color: #938463;
}

hr {
    border: none;
    border-bottom: 1px solid #cbc4b5;
    margin: 1em auto;
    width: 5em;
}

#news h1, #blog h1 {
    color: #fff; 
}

/* footer style */

footer p{
    color: #454545;
}

/* <!-- Sebastiano e Gerardo --> */
/* header e home */
#home {
    text-align: left;
    padding: 50px 0;
    margin: 0 auto;
    display: inline-block;
}

/* immagine di copertina */
#copertina{
    background-image: url(../images/header.jpg);
    height: 300px;
    margin-bottom: -60px;
    background-size: cover;
    position: relative;
    z-index: -2;
}
/* da ripetere per tutti gli sfondi */
#copertina::before{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    background: url(../images/overlay-pattern.png) black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: -1;
}


 /* barra header con nav */
header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    padding: 20px 20px;
    background-color:rgba(255,255,255, 0.9);
    margin:auto;
    font-weight: bold;
}

nav{
    width: 100%;
    height: 0;
    background-color:rgba(255,255,255, 0.6);
    overflow: hidden;
    transition: height 0.8s ease;
    position: absolute;
    top: 60px;
    left: 0;

}

nav ul li{
    text-align: left;
    border: 0;
    width: 20%;
    transition: width 1s ease;
    padding: 10px 8px ;
}

nav a{
    text-decoration: none;
    color: #474747;
    text-transform: uppercase;
}

nav ul li:hover{
    width: 100%;
    border-bottom: 2px solid red;
}

#tendina:checked~nav{
    height: 300px;
}
/* tolgo checkbox */
#tendina {
    display: none;
}
.logo img{
    width: 150px;
}


.testo {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 1.1rem;
}
#home h3{
    text-transform: uppercase;
    margin: 20px 0;
}

.slider {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    overflow: scroll;
}

/* media header */

@media screen and (min-width: 768px) {
    header{
        width:700px;
        flex-wrap: nowrap;
    }
    header label{
        display: none;
    }
    nav{
        height: auto;
        overflow: none;
        width:70%;
        position: static;
        background-color: rgba(255,255,255, 0);
        padding-left: 15px;
        text-align: center;
        
    }

     nav ul{
        display: flex;
        justify-content: center;
     }

     nav ul li{
        font-size: 0.8rem;
        width: auto;
     }
     nav ul li:hover{
       border: 0;
       width: auto;
       border-bottom: 2px solid red;
    
     }

     nav ul li:first-child{
        border-bottom: 2px solid red;
     }
}

@media screen and (min-width: 992px){
    header{
        width:95%;
    }
    header nav{
        margin-left: 40px;
    }
    nav ul{
        justify-content: end;
    }
}


@media screen and (min-width: 1200px){
    header{
        width:1140px;
    }
}
@media screen and (min-width: 1200px) {
    #home {
        max-width: 1140px;
    }
}

.slider img{
    width: 53%;
    height: 53%;
    margin: 10px 0;
    border-radius: 5px;
}

@media screen and (min-width: 992px){
    .slider img {
        padding: 0 30px 50px 0;
    }
}

@media screen and (min-width: 1200px){
    .slider img {
        width: 65%;
        height: 65%;
    }
}



/* <!-- Serena e giuseppe --> */
/* sezione blog e about us */

#about {
    padding: 100px 0px;
    background: #F6F6F6;
}

#about .block {
    text-align: center;
}

#about .block p {
    color: #959595;
    font-size: 16px;
    line-height: 26px;
    padding: 40px 0px;
}


/* <!-- Valeria e Angelo--> */
/* menu e newsletter */

 #news {
    position: relative;
    background-image: url('../images/subscribe-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    z-index: -2;
    padding-bottom: 7em;
}

#news::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/overlay-pattern.png') black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: -1;
}


#news h1 {
    text-transform: uppercase;
    color: #fff;
    padding: 40px 0;
}

#news span {
    text-transform: lowercase;
}

#news p {
    padding: 25px 0;
    color: #fff;
    font-size: 1.1rem;
}

#inputNews {
    width: 95%;
    height: 65px;
    border: none;
    padding: 10px;
}

#news button {
    padding: 25.6px 50px;
    margin: 10px;
    display: block;
    background-color: #7ec3bb;
    color: #fff;
    border: none;
}

@media screen and (min-width: 768px) {
    #inputNews {
        width: 450px;
        height: 65.5px;
        margin-right: 0;
    }

    #news button {
        display: inline-block;
        margin-left: 0;
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
}

#contacts {
    margin: auto;
}

@media screen and (min-width: 1200px) {
    #contacts {
        max-width: 1140px;
    }
}

#contacts form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
}

form input {
    margin: 5px 0;
    height: 48px;
    border: 1px solid #cbc4b5;
    padding: 6px 12px;
}

form textarea {
    font-size: 1.1rem;
    font-family: myfont;
    border: 1px solid #cbc4b5;
    padding-top: 5px;
    padding: 6px 12px;
}

#contacts span {
    text-transform: uppercase;
}

#contacts h3 {
    text-transform: uppercase;
    text-align: left;
    margin: 20px;
}

#contacts button {
    height: 48px;
    width: 100%;
    margin: 10px 0;
    
    border: none;
    background-color: #ff4f02;
    color: #fff;
}